html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fcfcff;
    
}

 h1 {
    
    text-align: center;
    font-size: 35px;
    position: relative;
    left: 25px;
    top: 30px;
    color: black;
    font-family: "League-Spartan";


  }

  h2 {

    color: black;
    font-family: "Montserrat";
    font-size: 70px;
    position: relative;
    top: 230px;
    left: 20px;
    margin-right: 35px;
    margin-left: 30px
    
}

.ipad1 {

  width: 413;
  height: 549;
  float: right;
  position: relative;
  top: 150px;
  left: 40px;


}

.category1 {

  width: 826;
  height: 1098;
  position: relative;
  top: 300px;
  position: relative;
  top: 400px;
  left: 100px;
  


}


.category1text {


  max-width: 50%;
  max-height: 50%;
  position: relative;
  top: 380px;
  left: 250px;


}

hr {

  position: relative;
  top: 340px;
  width: 1100px;
  border-width: 10px;


}




.button-30 {
  position: absolute;
  top: 220px;
  left: 50px;
  

 

 
 align-items: center;
 appearance: none;
 background-color: #FCFCFD;
 border-radius: 25px;
 border-width: 0;
 box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;

 color: #36395A;
 cursor: pointer;
 display: inline-flex;
 font-family: "JetBrains Mono",monospace;
 height: 100px;
 width: 450px;
 justify-content: center;
 line-height: 1;
 list-style: none;
 overflow: hidden;
 padding-left: 16px;
 padding-right: 16px;
 position: relative;
 text-align: left;
 text-decoration: none;
 transition: box-shadow .15s,transform .15s;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 will-change: box-shadow,transform;
 font-size: 24px;
}


.button-30:focus {
 box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}


.button-30:hover {
 box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
 transform: translateY(-2px);
}


.button-30:active {
 box-shadow: #D6D6E7 0 3px 7px inset;
 transform: translateY(2px);
}



form {


  max-width: 1000%;
  max-height: 1000%;



}
